@page
@using Iptb.DivarTozi.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Iptb.DivarTozi.Web.Pages.AgahiHa.AgahiAttachment
@using Iptb.DivarTozi.Localization
@using Iptb.DivarTozi.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DivarToziResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["AgahiAttachment"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:AgahiAttachment"].Value);
    PageLayout.Content.MenuItemName = DivarToziMenus.AgahiAttachment;
}

@section scripts
{
    <abp-script src="/libs/dropzone/dropzone.min.js" />
    <abp-script src="/Pages/AgahiHa/AgahiAttachment/index.js"/>
}
@section styles
{
    <abp-style src="/libs/dropzone/dropzone.min.css" />
    <abp-style src="/Pages/AgahiHa/AgahiAttachment/index.css"/>
}


<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["AgahiAttachment"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(DivarToziPermissions.AgahiAttachment.Create))
                {
                <abp-button id="NewAgahiAttachmentButton"
                            text="@L["CreateAgahiAttachment"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div class="row">
            <div class="col">
                <form asp-page-handler="upload"
                      class="dropzone"
                      id="my-awesome-dropzone">
                    <abp-input asp-for="AgahiId"/>
                </form>
                <form id="form-print" asp-page-handler="download" style="display:none">
                    <abp-input asp-for="AttachmentId"/>
                </form>
            </div>
        </div>
        <abp-table striped-rows="true" id="AgahiAttachmentTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
